body {
	text-align: center;
	margin-top: 100px;
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #eeacb3;
	padding: 20px;
	margin: 50px;
	border-radius: 8px;
}
h1 {
	color: #dc3545;
}
#blocked-url {
	word-break: break-all;
	margin-top: 20px;
	font-size: 0.9em;
	color: #495057;
	text-decoration: none;
}