html,body {
	display: flex;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}
.sidebar {
	width: 250px;
	background-color: #2d6453;
	color: #ffffff;
	height: 100vh;
	padding: 20px;
	box-sizing: border-box;
}
.sidebar h2 {
	font-size: 18px;
	margin-top: 0;
}
.sidebar ul {
	list-style: none;
	padding: 0;
}
.sidebar ul li {
	margin: 10px 0;
}
.sidebar ul li a {
	color: #fff;
	text-decoration: none;
}
.sidebar ul li a:hover {
	text-decoration: underline;
}
.main {
	flex: 1 1 auto;
	padding: 20px;
	overflow: auto;
	box-sizing: border-box;
	min-width: 0;
}
#blockListInput {
	height: 250px;
}
.root {
	display: none;
}