:root {
	--background-color: #ffffff;
	--text-color: #250000;
	--text-white: #ffffff;
}
.fade-in {
	animation: fadeIn 0.25s forwards;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.fade-out {
	animation: fadeOut 0.25s forwards;
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
* {
	font-family: "IBM Plex Sans JP"
}
body {
	background-color: var(--background-color);
	color: var(--text-color);
}
div,p,span {
	font-size: medium;
}
a:not([href]):not([class]),a:not([href]):not([class]):hover {
	text-decoration: none;
	color: #000aff;
	cursor: pointer;
}
img {
	border-radius: 5px;
}
#red {
	color: red;
}
#blue {
	color: blue;
}
.bold {
	font-weight: bold;
}
#green {
	color: green;
}
::file-selector-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	white-space: normal;
	line-height: 1.2;
	padding: 6px 10px;
	border-radius: 25px;
	cursor: pointer;
	color: var(--text-white);
}
.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	white-space: normal;
	line-height: 1.4;
	padding: 12px 20px;
	border-radius: 25px;
	cursor: pointer;
	color: var(--text-white);
}
a.btn {
	text-decoration: none;
}
.btn.primary {
	background-color: #1a63ff;
	border: solid 1px #000aff;
}
.btn.success {
	background-color: #3ca50c;
	border: solid 1px #0c6600;
}
.btn.warning {
	background-color: #fff025;
	border: solid 1px #cfbb00;
	color: var(--text-color);
}
.btn.danger {
	background-color: #f02d2d;
	border: solid 1px #ff0000;
}
.btn.dark {
	background-color: #1f1f1f;
	border: solid 1px #000000;
}
.btn.light,::file-selector-button {
	background-color: #ffffff;
	border: solid 1px #eeeeee;
	color: var(--text-color);
}
.btn.secondary {
	background-color: #777777;
	border: solid 1px #444444;
}
.btn:hover {
	filter: brightness(1.2);
	transform: translateY(-1px);
	box-shadow: 0 12px 36px rgba(0, 0, 0, 0.2);
}
.btn:active,::file-selector-button:active {
	transform: translateY(0px);
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}
.btn:disabled,::file-selector-button:disabled {
	filter: brightness(0.5);
}
.btn:disabled:hover,.btn:disabled:active,::file-selector-button:hover,::file-selector-button:active {
	filter: brightness(0.5);
	transform: translateY(0px);
	box-shadow: 0;
}
.alert {
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	color: #fff;
	border: none;
	border-radius: 25px;
	margin: 5px;
	padding: 5px;
}
.alert.primary {
	background-color: #1a63ff;
	border: solid 1px #000aff;
}
.alert.info {
	background-color: #1acaff;
	border: solid 1px #00aeff;
}
.alert.success {
	background-color: #3ca50c;
	border: solid 1px #0c6600;
}
.alert.warning {
	background-color: #fff025;
	border: solid 1px #cfbb00;
	color: black;
}
.alert.danger {
	background-color: #f02d2d;
	border: solid 1px #ff0000;
	color: white;
}
.alert.purple {
	background-color: #cc00ff;
	border: solid 2px #8c00ff;
	color: white;
}
.alert.secondary {
	background-color: #a3a3a3;
	border: solid 1px #777777;
}
.alert.light {
	background-color: #ffffff;
	border: solid 1px #eeeeee;
	color: black;
}
.alert.dark {
	background-color: #1f1f1f;
	border: solid 1px #000000;
}
#new-meet-btn {
	width: 200px;
}
input,select {
	background-color: #fff;
	border: 0;
	border-radius: 25px;
	margin: 5px;
	padding: 12px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	width: 98%;
}
select {
	border: solid 1px #ddd;
}
textarea {
	background-color: #fff;
	border: 0;
	border-radius: 25px;
	margin: 5px;
	padding: 12px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	width: 98%;
}
input[type="radio"] {
	width: 10px;
	height: 10px;
}
input:focus,textarea:focus {
	outline: none;
	border: 2px solid #00bfff;
	box-shadow: 0 0 15px #00bfff40;
}
input:disabled,textarea:disabled {
	background-color: #ddd;
}
::-webkit-scrollbar {
	background-color: #ffffff;
	border-radius: 25px;
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #888;
}
::-webkit-scrollbar-thumb:active {
	background-color: #777;
}
::-webkit-scrollbar-thumb {
	background-color: #bbb;
	border-radius: 25px;
}
header {
	position: sticky;
	top: 10px;
	z-index: 1000;
	margin: 10px;
	
	background: linear-gradient(to right, pink, #ff8383);
	border-radius: 50px;
	padding: 5px; 
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header img {
	width: 220px;
	object-fit: contain;
}
.right-area {
	display: flex;
	gap: 5px;
}
header h1 {
	margin: 0;
	font-size: 2em;
}
input,select,textarea {
	background-color: #fff;
	border: 0;
	border-radius: 25px;
	margin: 5px;
	padding: 12px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
input:focus,textarea:focus {
	outline: none;
	border: 2px solid #00bfff;
	box-shadow: 0 0 15px #00bfff40;
}
#search {
	text-align: center;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 85%;
}
#search.top {
	top: 25%;
}
#search input {
	width: 75%;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.modal-content {
	background-color: #fff;
	margin: 7.5% auto;
	padding: 20px;
	width: 70%;
	height: 70%;
	border-radius: 25px;
}
.modal-close {
	float: right;
	font-size: 24px;
	cursor: pointer;
}
.popup {
	position: absolute;
	display: block;
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
	padding: 10px;
	border-radius: 25px;
	font-size: 14px;
	z-index: 999;
	margin: 0.5rem;
	right: 5px;
}
.card {
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	padding: 20px;
	margin: 10px;
	transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.card:hover {
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
	transform: translateY(-4px);
}
table,tr,td,th {
	border-collapse: collapse;
	border: solid 1px;
	padding: 7px;
}
.profile-icon-s {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border-color: var(--text-color);
}
.user-name {
 	line-height: 1;
}
hr {
	border: solid 1px gray;
}